:root {
    --white: hsl(0, 0%, 100%);
    --Light-grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
    --cordaestrela: hsl(210, 19%, 24%);

  }


h2{
    color: var(--white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin-left: 30px;
    font-weight: 700;
    margin-top: -10px;

    
}
p{
    color: var(--Medium-Grey);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
}